/* Menu Dropdown */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    margin: 10px auto;
    width: 700px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.menu > li {
    background: #000;
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background: #e74c3c;
}

.menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
}

.submenu > li > a {
    padding: 1em 2em;
}

.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

.submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
    transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

.submenu > li:nth-child(even){
    transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
    transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even){
    transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);
}
.bodi{
    margin: auto;

}

.grid_nav{
    width: 1230px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}
.log{

    padding: 20px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

BODY {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEE;
    font-family: Georgia;
}
.text_1 {
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    color: steelblue;
    transition: all 1s;
}
.text_1:hover {
    color: yellowgreen;
}



a.button_1 {
  display:block;
  text-align: center;
  height: 50px;
  width:150px;
  margin: 10px auto;
  line-height: 50px;
  padding-left: 38px;
  position: relative;
  background:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

a.button_1 span {
  position: absolute;
  left: 0;
  width: 50px;
  background-color:rgba(0,0,0,0.5);
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
}
a.button_1:hover span, .button.active span {
  background:#fff;
  border-right: 1px solid  rgba(0,0,0,0.3);
  color: #297FB8;
}
ddddddddddd


ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.footer_area {
	padding:60px 0 20px;
	position: relative;
	color: #fff;
	z-index: 100;
	background: #222;
	word-break: break-all;
	word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.sf_title{
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.newsletter_form form{
	position: relative;
	display: block;
}
.newsletter_form {
	margin-top: 0px;
	overflow: hidden;
}
.single_ftr p{
	display: inline-block;
}
.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid transparent;
	transition: 0.5s;
	letter-spacing: 0.5px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #33d286;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 1
}
.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1
}
.form-control{

}
.form-control:focus{
	border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
}
.payment_mthd_icon li {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}