<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
<footer class="footer_area">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">КОНТАКТЫ</h4>
							<ul>
								<li>366500 Чеченская Республика г.Урус-Мартан</li>
								<li>+7(928)-086-18-38 <br> (+928)-015-66-11</li>
								<li>uo-urus@mail.ru</li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">ИНФОРМАЦИЯ</h4>
							<ul>
								<li><a href="#">О нас</a></li>
								<li><a href="#">Связаться с нами</a></li>
								<li><a href="#">Результаты ГИА</a></li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">УСЛУГИ</h4>
							<ul>
								<li><a href="#">Подача заявления</a></li>
								<li><a href="#">Узнай свойи результаты ГИА</a></li>

							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">РАССЫЛКА</h4>
							<div class="newsletter_form">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have </p>
								<form method="post" class="form-inline">
									<input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
					</div> <!--  End Col -->

				</div>
			</div>


			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="ftr_social_icon">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-google"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<p class="copyright_text text-center">© 2019 All Rights Reserved Bootstrap 4 footer</p>
						</div>

						<div class="col-sm-4">
							<div class="payment_mthd_icon text-right">
								<ul>
									<li><i class="fa fa-cc-paypal"></i></li>
									<li><i class="fa fa-cc-visa"></i></li>
									<li><i class="fa fa-cc-discover"></i></li>
									<li><i class="fa fa-cc-mastercard"></i></li>
									<li><i class="fa fa-cc-amex"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>