<div class="widget">
    <h3 class="widget-title">Администрация</h3>
    <ul class="widget-list">
        <li><a href="">Директор</a></li>
        <li><a href="">зам. дир по ИКТ</a></li>
        <li><a href="">зам. дир по УР</a></li>
        <li><a href="">зам. дир по ВР</a></li>
        <li><a href="">зам. дир по УР НАЧ</a></li>
        <li><a href="">зам. дир по МР</a></li>
        <li><a href="">зам. дир по АХЧ</a></li>
        <li><a href="">Секратарь</a></li>
        <li><a href="">Соц. педагог</a></li>
        <li><a href="">Психолог</a></li>
    </ul>
</div>